BIND_ADDR=0.0.0.0:8080
RUST_LOG=info

DATABASE_USER=necko_user
DATABASE_PASSWORD=password
DATABASE_DB=necko7

DATABASE_URL=postgres://necko_user:password@localhost:5432/necko7

# https://7.necko.moe
APP_URL=https://

# random generated string
TWITCH_EVENTSUB_SECRET=
# twitch dev portal client id
TWITCH_CLIENT_ID=
# twitch dev portal client secret
TWITCH_CLIENT_SECRET=