BIND_ADDR=0.0.0.0:8080
RUST_LOG=info

DATABASE_USER=necko_user
DATABASE_PASSWORD=password
DATABASE_DB=necko7

DATABASE_URL=postgres://necko_user:password@localhost:5432/necko7

# Base URL of the backend (Twitch OAuth redirect URI in Twitch dev portal: ${APP_URL}/api/v1/auth/callback)
# Example: https://7.necko.moe
APP_URL=https://
# Base URL of the frontend for CORS and redirects (must NOT have a trailing slash)
# Example: https://f7.necko.moe
FRONTEND_URL=https://

# random generated string
TWITCH_EVENTSUB_SECRET=
# twitch dev portal client id
TWITCH_CLIENT_ID=
# twitch dev portal client secret
TWITCH_CLIENT_SECRET=